@charset "utf-8";

#dropzone {
	width: 600px;
	height: 200px;
	border: 2px dotted black;
	text-align: center;
	margin: 50px auto;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	border-radius:30px;
	background-color: #ffffff;
	transition: 0.7s;
  }
#dropzone p {
	color:black;
}

a.btn_11 {
	display: block;
	text-align: center;
	text-decoration: none;
	font-size: 25px;
	width: 120px;
	margin: auto;
	padding:  center;
	font-weight: bold;
	background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
	border-radius: 100vh;
	color: #333;
	border: 1px solid #999;
	text-shadow: 0 1px #fff;
	box-shadow: 0 3px 2px 1px #fcfcfc, 0 4px 6px #cecfd1, 0 -2px 2px #cecfd1, 0 -4px 2px #eee, inset 0 0 2px 2px #cecfd1;
	transition: 0.5s;
}
a.btn_11:hover {
	opacity: 1.5;
	transform: scale(1.25);
	
}
  
#clearButton {
	display: block;
	margin:2.5% auto;
	padding:center;
	
}

#preview {
width: 200px;
height: 200px;
margin: 50px auto;
}

#preview img {
width: 100%;
height: 100%;
object-fit: contain;
}

@media screen and (max-width:520px) {
#dropzone {
	width: 300px;
	height: 200px;
	border-radius:10px;
	transition: 0.7s;
  }
  a.btn_11:hover {
	opacity: 1.5;
	transform: scale(1.1);
	}
}